**/Makefile
**/CMakeFiles
*.cmake
**/CMakeCache.txt
*.tcl
*.a

build/

.vscode

CQF
bin/
lib/
Testing/

benchmark/statsFiles/*
benchmark/figs/*
.DS_Store
examples/AHX_ACXIOSF/bqf
examples/AHX_ACXIOSF/AHX_ACXIOSF_6_1_23_all.txt.bz2
examples/AHX_ACXIOSF/bqf.bz2
examples/AHX_ACXIOSF/queries.fasta
examples/AHX_ACXIOSF/queries_shrinked.fasta
